* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.a {
    height: 100vh;
    background: url(a.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-card {
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.card-header {
    background: #2e5f8d;
    padding: 60px 40px;
}

.pic {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;

}

@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }

    50% {
        background-position: right bottom;
    }

    75% {
        background-position: right top;
    }

    100% {
        background-position: left top;
    }
}

.pic img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    text-shadow: 0 0 3px #FF0000;
    color: black;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #e66767;
}

.sm {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sm a {
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.sm a:hover {
    color: #e66767;
}

.contact-btn {
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px solid #e66767;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
    color: white;
}

.contact-bth:hover {
    background: #e66767;
    color: #f2f2f2;
}

.card-footer {
    background: black;
    padding: 60px 10px;

}

.number {
    display: flex;
    align-items: center;
}

.item {
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
}

.item span {
    display: block;
    color: #fbfdff;
    font-size: 30px;

}

.border {
    width: 1px;
    height: 30px;
    background: rgb(246, 245, 247);
}

/* profile-card 2 */
.b {
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.section-title {
    font-size: 2rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}

.section-title span {
    color: crimson;
}

#projects .projects {
    flex-direction: column;
    max-width: 1400px;
    margin: 10% 0;
    right: 10px;
    padding: 0;

}

 #projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .projects-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    width: 1000px;
    margin: auto;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;

}

#projects .project-info h1 {
    font-size: 1.6rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgb(172, 144, 17);

}

#projects .project-info h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 10px;
    text-shadow: 2px 2px 5px red

}

#projects .project-info p {
    color: white;

}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-info-img:after {
    width: 1400px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}

.size {
    width: 150px;
}

.c {
    background: cornflowerblue;
    width: 1600px;
    padding: auto;
    margin: auto;

}